.image {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;

  img {
    width: 100%;
    height: 100%;
  }
}

form {
  height: 4rem;
  width: 85%;
  input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
  }
  input:focus {
    overflow: scroll;
    outline: none;
  }
}

.text-box {
  width: 15rem;
  height: 8rem;
  margin: 0.5rem 0 0 0;
  background-color: rosybrown;
  padding: 0.5rem;
}

.qst-box {
  width: 15rem;
  height: 8rem;
  margin: 0.5rem 0 0 0;
  border-radius: 1rem;
  background-color: rgb(233, 88, 88);
  display: flex;
  align-items: center;
  justify-content: center;

  h5 {
    text-align: center;
  }
}
