.bot-container {
  width: 50vw;
  height: 90vh;
  border-radius: 1rem;
  padding: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .message-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 80%;
    background-color: antiquewhite;
    overflow-y: scroll;

    &Chat {
      color: yellow;
    }

    .qstn-box{
      display: flex;
      flex-direction: column;
    }
    .ans-box{
      display: flex;
      background-color: red;
      flex-direction: column;
    }
  }
  .input-container {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;

    form {
      height: 4rem;
      width: 85%;
      input {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        border: none;
        border-radius: 1rem;
      }
      input:focus{
        outline: none;
    }
    }
    .image {
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.chat-box{
width: 50%;
height: fit-content;
background-color: aqua;
padding: .25rem;
}